$b-color:blue;
$r-color:red;
$g-color:green;
$y-color:yellow;
$w-color:white;
body{
padding: 0;
box-sizing: border-box;
margin: 0;
padding-bottom: 1000px;

}
.header{
display: flex;
flex-direction: row;
align-items: center;
gap: 30px;
font-size: 25px;
}
.left-section{
width: 150px;
margin-left: 20px;
.pharmacy-logo{
max-width: 40%;
min-width: 50px;
height: auto;
border: none;
border-radius: 50px;
}

}
.mid-section{
flex: 1;
display: flex;
justify-content: space-between;
input{
width: 40%;
min-width: 200px;

}
input::placeholder{
padding: 10px;
font-size: 20px;

}}
.right-section{
display: flex;
width: 250px;
justify-content: space-between;
margin-right: 10px;
.signin-button{
font-size: 23px;
}}


@media (max-width:500px){
.ppt-link{
display: none;
}
.exam-link{
display: none;}

.refference-link{
display: none;

}
.home-link{
color: white;
text-decoration: none;
margin-right: 10px;
margin-left: 10px;

}
.home-link:hover{
text-decoration: underline;
color: gold;
}
.home-link:active{
color: tomato;
}
.mid-section{
display: flex;
gap: 10px;

}

.header{
gap: 0px;
background-color: rgb(116, 208, 164);
color: white;
font-size: 30px;
height: 80px;
width: 100%;
position: fixed;
top: 0;
z-index: 20;
}
input{
flex: 1;
font-size: 20px;
outline-color: blue;
border: none;
border-radius: 15px;
}
input::placeholder{
padding-left: 10px;
font-size: 20px;
}
.right-section{

margin-right: 10px;

}
.left-section{
display: none;
}

.signin-button{
background-color: gold;
border: none;
border-radius: 15px;
color: $g-color;
padding: 5px 10px;



}
.signin-button:hover{
background-color: tomato;
color: $y-color;
}
.side-bar{
position: absolute;
top: 85px;
left: 0;
bottom: 0px;
background-color: green;
height: 1000px;


}
.side-bar div{
margin-bottom: 10px;
}
.ppt a{
text-decoration: none;
color: white;

}
.ppt a:hover{
color: gold;
text-decoration: underline;
}
.exam a{
text-decoration: none;
color: white;
}
.exam a:hover{
color: gold;
text-decoration: underline;
}
.reference a{
text-decoration: none;
color: white;

}
.reference a:hover{
color: gold;
text-decoration: underline;
}
main div{
margin-top: 90px;
margin-left: 170px;
}
.reference div{
margin-bottom: 20px;
}
.reference div:first-child{
font-size: 30px;
font-weight: bold;
}
.ppt div{
margin-bottom: 20px;
}
.ppt div:first-child{
font-size: 30px;
font-weight: bold;
}
.exam div{
margin-bottom: 20px;
}
.exam div:first-child{
font-size: 30px;
font-weight: bold;
}}







@media (min-width:501px) and (max-width:800px){
.header{
gap: 40px;
font-size: 20px;
background-color: $g-color;
color: $w-color;
align-items: center;
height: 80px;
position: fixed;
top: 0;
z-index: 20;
width: 100%;


}
.home-link:hover{
text-decoration: underline;
color: gold;}
.side-bar{
display: block;
position: absolute;
top: 90px;
left: 0;
bottom: 0px;
background-color: $g-color;
font-size: 20px;

}

.left-section{
width: 50px;
margin-left: 5px;
}
.home-link{
margin-right: 20px;
color: $w-color;
text-decoration: none;
}
.mid-section{
flex: 1;
align-items: center;

}
.ppt-link{
display: none;

}
.exam-link{
display: none;

}
.right-section{
width: 100px;
margin-right: 10px;
align-items: center;
}
.refference-link{
display: none;

}

input{
flex: 1;
font-size: 25px;
border: none;
border-radius: 10px;
outline-color: blue;

}
.signin-button{
background-color: gold;
color: white;
border: none;
border-radius: 10px;

}
.signin-button:hover{
background-color: tomato;
color: gold;
}
.ppt div{
margin-bottom: 20px;
}
.ppt div:first-child{
font-size: 30px;
font-weight: bold;
}
.ppt a{
text-decoration: none;
color: white;

}
.ppt a:hover{
color: gold;
text-decoration: underline;
}
.exam div{
margin-bottom: 20px;
}
.exam div:first-child{
font-size: 30px;
font-weight: bold;
}
.exam a{
text-decoration: none;
color: white;
}
.exam a:hover{
color: gold;
text-decoration: underline;
}
.reference div{
margin-bottom: 20px;
}
.reference div:first-child{
font-size: 30px;
font-weight: bold;
}
.reference a{
text-decoration: none;
color: white;

}
.reference a:hover{
color: gold;
text-decoration: underline;
}
.side-bar{
height: 1000px;
}
main div{
margin-top: 90px;
margin-left: 180px;
}}



@media (min-width:800px){
.header{
gap: 25px;
background-color: $g-color;
display: flex;
align-items: center;
height: 80px;
position: fixed;
top: 0;
width: 100%;

}
.side-bar{
display: none;
}
.left-section{
width: 80px;
margin-left: 15px;
}
.mid-section{
display: flex;
gap: 10px;
}
input{
flex: 1;
font-size: 25px;
max-width: 60%;
min-width: 10%;
outline-color: $b-color;
border: none;
border-radius: 20px;
}
.exam-link{
margin-right: 20px;
}
.exam-link{
color: white;
text-decoration: none;
}
.exam-link:hover{
color: gold;
text-decoration: underline;
}
.home-link{
color: white;
text-decoration: none;
}
.home-link:hover{
color: gold;
text-decoration: underline;
}
.ppt-link{
color: white;
text-decoration: none;
}
.ppt-link:hover{
color: gold;
text-decoration: underline;
}
.refference-link{
color: white;
text-decoration: none;
}
.refference-link:hover{
color: gold;
text-decoration: underline;
}
.home-link{
margin-right: 20px;
}
.ppt-link{
margin-right: 20px;
}
.right-section{
width: 250px;
margin-right: 10px;

}
.refference-link{
margin-right: 5px;
}
main div{
margin-top: 90px;
margin-left: 10px;
}
.signin-button{
background-color: gold;
color: white;
border: none;
border-radius: 10px;
}
.signin-button:hover{
background-color: tomato;
color: gold;
}}
